{{set . "title" "Links de Pagamento"}}
{{template "header.html" .}}

<div class="container">

  <a class="btn btn-primary float-right" href="new">Novo Link</a>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Produto</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      {{range .links}}
      <tr>
        <td>{{.name}}</td>
        <td><a href="{{.link}}">{{.link}}</a></td>
      </tr>
      {{end}}
    </tbody>
  </table>


  <a class="btn btn-primary float-right" href="new">Novo Link</a>

</div>
{{template "footer.html" .}}
